.postRow {
  width: 100%;
  margin-bottom: 16px;
}

.container {
  display: flex;
  gap: 20px;
}

.imageWrapper {
  flex: 0 0 200px;
  height: 150px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
}

.content p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  line-height: 1.4rem;
}

.title {
  margin: 0 !important;
}

.description {
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.meta {
  margin-top: auto;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageWrapper {
    flex: 0 0 auto;
    height: 200px;
  }
}
